<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>用户详细信息</title>
	<!-- 引入css文件 -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/font-awesome.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/ui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/form.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/datatables.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/user.css}" rel="stylesheet" type="text/css"/>
    
	<style>
	  .container {
	  	width: 100%;
	  };
	</style>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="<l:asset path='html5shiv.js'/>"></script>
      <script src="<l:asset path='respond.js'/>"></script>
    <![endif]-->
    <!-- 引入js文件 -->
	<script th:src="@{js/jquery.js}"></script>
	<script th:src="@{js/bootstrap.js}"></script>
	<script th:src="@{js/form.js}"></script>
	<script th:src="@{js/datatables.js}"></script>
	<script th:src="@{js/loushang-framework.js}"></script>
	<script th:src="@{js/framework/demo/user/user.js}"></script>
	<script th:src="@{js/ui.js}"></script>
	<script id="searchpanel" type="text/html">
	  <div id="searchtemp">
		<div class="form-group">
			<label for="userId" class="text-name">账号：</label> 
			<input type="text" class="form-control ue-form" id="userId" placeholder="账号"/>
		</div>
        <div style="margin:10px 50px">
			<button id="search" class="btn ue-btn-primary">搜索</button>
		</div>
      </div>
	</script>
</head>
<body>
	<div class="topdist"></div>
	<div class="container">
	   <div class="row">
		<form class="form-inline" onsubmit="return false;">										
			<div class="input-group">
		        <input class="form-control ue-form" type="text" id="userName" placeholder="用户名称"/>
		        <div class="input-group-addon ue-form-btn" id="query">
		        	<span class="fa fa-search"></span>
		        </div>
	        </div>
		    <a class="btn ue-btn dbtn" id="moresearch">更多搜索<i class="fa fa-angle-down"></i></a>
		    <div class="btn-group pull-right">
				<button id="add" type="button"
					class="btn ue-btn">
					<span class="fa fa-plus"></span>增加
				</button>
				<button id="batchDel" type="button" class="btn ue-btn" style="margin-left: 5px;"><span class="fa fa-trash"></span>批量删除</button>
			</div>
		</form>
	</div>
	<!-- <label for="dateName">日期国际化</label> -->
	<!-- <input id="currentDate" name="dateName" type="text"/> -->
	<div class="row">
		<table id="userList" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th width="10%" data-field="id" data-sortable= "false" data-render="rendercheckbox">
						<input type="checkbox" id="selectAll" onchange="selectAll(this,'checkList')" />
					</th>
					<th width="18%" data-field="user_id" data-sortable="false">账号</th>
					<th width="18%" data-field="user_name">姓名</th>
					<th width="18%" data-field="nickname">昵称</th>
					<th width="18%" data-field="status" data-render="renderstatus">账号状态</th>
					<th width="18%" data-field="userId" data-render="renderoptions">操作</th>
				</tr>
			</thead>
		</table>
	</div>
	</div>
</body>
</html>