<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inspur.springboot.mapper.CityMapper">

	<resultMap type="com.inspur.springboot.model.City" id="cityResultMap">
    	<id property="id" column="id" />
    	<result property="name" column="name" />
    	<result property="state" column="state" />
    </resultMap>
    
	<select id="queryCityById" resultType="com.inspur.springboot.model.City" parameterType="String">
        SELECT id,name,state FROM city WHERE id = #{id} 
    </select>

</mapper>